<%- include header %>
Admin Page
<form  method='post' action='/download'>
    Download from (a link here)  <input type="url" name="link" style="width: 60%"/><br />
    <input type="submit" value="Download Now"/>
</form>



<%- include footer %>