<%- include header %>
Admin Page
<form  method='post' action='/download'>
    Download from (a link here)  <input type="url" name="link" style="width: 60%"/><br />
    <input type="submit" value="Download Now"/>
</form>

<form  method='post' action='/update'>
    <input type="submit" value="Update the database now!(not working)"/>
</form>


<%- include footer %>