<%- include header %>
<p></p><h2>File Downloader</h2></p>
<form method='post' action='/download' xmlns="http://www.w3.org/1999/html">
    <p>Download from: <input type="url" name="link" style="width: 70%"/></p>
    <button class="btnExample" type="submit" value="Submit">Download the file Now!</button>
</form>

<p><h2>Database Update</h2></p>
<form  method='post' action='/update'>
    <button class="btnExample" type="submit" value="Submit" >Update the database now!</button>
</form>

<p><h2>User Management Interface (Only users are displayed)</h2></p>

<table>
<th>Username</th>
<th>Operation</th>
<%
for (var user in listUser)
{  if(listUser[user].type!="admin"){%>
    <tr>
   <td><%=listUser[user].name%></td>
   <td><form  method='post' action='/deleteUser'>
           <button class="btnSmall" type="submit" value="Submit">Delete</button>
       </form>
     </td>
    </tr>
<%}}%>
</table>


<%- include footer %>