<%- include header %>
<p>&nbsp</p>

<form method="post">

    <table id="commentTable">
        <tr><td>Title:</td><td> <input type="text" name="title"/></tr></td></tr>
        <tr><td>Body:</td><td> <textarea name="body"></textarea></td></tr>

        <select name="region">
            <%
                console.log('in view: regions:', regions);
            for(var i in regions){%>
                <option value="<%=regions[i].name%>"><%=regions[i].name%></option>
            <%}%>
        </select>

    </table>
    <p align="center"><button type="submit" class="btnExample">Submit comment</button></p>

</form>
<%- include footer %>