<%- include header %>
<form method="post">
    <table id ="tableBig">
        <tr><td>Username:</td><td> <input type="text" name="name"/></tr></td></tr>
        <tr><td>Password:</td><td> <input type="password" name="password"/></td></tr>
    </table>
    <p></p>
    <button type="submit" class="btnExample">Log me in!</button>
</form>
<%- include footer %>