<%- include header %>
<form method="post">
    <p>Username: <input type="text" name="name"/><br /></p>
    <p>Password: <input type="password" name="password"/><br /></p>

    <button type="submit" class="btnExample">Log me in!</button>
</form>
<%- include footer %>