<%-include header%>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAoEGTfMYy0VAgBmvAGCTvnHVbKmbNI-IU"></script>
<script type="text/javascript" src="/javascripts/map.js"></script>
<div id="map-canvas"></div>
<%-include footer %>